h2{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 2em;
}
h3{
    font-weight: bold;
    text-align: center;
}
h4{
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

/* ----- Intro ----- */
.intro p{
    font-size: 1.3em;
}
.intro a{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}
.intro a:hover{
    font-weight: bold;
}

.link_image{
    width: 0.8em;
}

/*Inputs*/
.input-box {
    display: flex;
    flex-direction: column;
}
input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
input:focus {
    border-color: #ff5656;
}

/* ----- Receta  ----- */
.receta{
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    padding: 0.5em 1em 1em 1em;
    margin-top: 2em;
    justify-content: center; /* centre horizontalement */
}
.receta .retour_intro{
    text-align: center;
}
.receta .retour_intro a{
    color: black;
    /* text-decoration: none; */
}
.receta .retour_intro a:hover{
    font-weight: bold;
}

/* Wrapper */

.wrapper {
    display: grid;
    /* attention à ce que la somme soit égale à 100% et pas plus ! Sinon ça fait une barre de déroulement */
    grid-template-columns: 40% 55%;
    grid-gap: 5%;
    /* grid-auto-rows: minmax(100px, auto); */
    align-items: center; /* centre en hauteur */
}
.imagen_grid {
    text-align: center; /* centre en largeur */
    grid-column: 1;
}
.ingredientes_grid {
    grid-column: 2;
}
.wrapper .flottant
{
    width:100%;
    border-radius: 20%;
}



.preparacion{
    padding: 1em;
}

@media screen and (max-width: 600px) {
    .wrapper {
        display: grid;
        grid-template-columns: 100%;
    }
    .imagen_grid {
        grid-column: 1;
        grid-row: 1;
    }
    .ingredientes_grid {
        grid-column: 1;
        grid-row: 2;
    }
    .wrapper .flottant
    {
        width:50%;
    }

    .receta .column_left {
        display: table-row;
        width: 100%;
    }
    .receta .column_right {
        display: table-row;
        width: 100%;
    }
    .flottant
    {
        width: 70%;
        border-radius: 20%;
        /* margin: 0 30% 0 30%; */
        float: none;
    }
    .ingredientes{
        padding: 0 10% 0 10%;
    }
}
